!!! 5
%html(lang='en' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title= content_for?(:title) ? yield(:title) : 'Reservely'
    =yield :head
    =csrf_meta_tags
    /[if lt IE 9]
      =javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js'
    =stylesheet_link_tag 'application', media: 'all'
  %body
    =render 'layouts/navbar'
    .container
      =bootstrap_flash
      =yield
      %footer
        %p &copy; #{link_to 'Matt Huggins', 'http://www.matthuggins.com'} #{Date.today.year}
    =javascript_include_tag 'application'
